@import url('https://fonts.googleapis.com/css?family=Material+Icons');

html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: #2a2c34;
  color: #c6c7cf;
}

*[class^='col-']{
  margin: 0;
  padding: 0;
}

div {
  height: 100%;
}

/* Sidebar */

.sidenav {
  height: 100%;
  width: 5em;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #161616;
  overflow-x: hidden;
  padding: 1.5em 0;
}

.sidenav button {
  text-decoration: none;
  background-color: #161616;
  border: none;
  font-size: 1.7em;
  display: block;
  text-align: center;
  height: 3em;
  width: 100%;
  line-height: 1.7em;
}

.navIcon {
  color: #c6c7cf;
  font-size: 1.7em;
}

.navIcon:hover {
  color: whitesmoke;
}

/* Main Panel */

#upperRow {
  height: 60%;
}

.mainPanel {
  margin-left: 5em
}

.displayArea {
  border-right: 3px solid #1c1f23;
  height: 60%;
}

.memoryArea {
  height: 100%;
}

.outputArea {
  border-right: 3px solid #1c1f23;
  height: 40%;
}

/* Utility */

.tabButtonRow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1c1f23;
}

.horizontalRowItem {
  display: inline;
}

.tabButton {
  border: 1px solid #0a0c0f;
  border-left: none;
  border-bottom: 0;
  border-radius: 0;
  background-color: #1c1f23;
  color: #888888;
  vertical-align: middle;
  padding: 0.9em 1.2em;
  line-height: 1em;
  font-size: 1em;
}

.tabButton.selected {
  background-color: #22272b;
  color: whitesmoke;
}

.tabButton:focus {
  outline: none;
}

.tabContentRegion {
  color: #c6c7cf;
  height: 100px;
  width: 100%;
}